<ion-app>
  <ion-menu contentId="main-content">
    <ion-header >
      <ion-toolbar >
        <ion-thumbnail><img src="../assets/img/movies.png" alt=""></ion-thumbnail>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"  >
           
            <ion-button expand="block" href="movies">MOVIES</ion-button> 
          
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>BEST MOVIES</ion-title>
      </ion-toolbar>
      <ion-searchbar [(ngModel)]="searchQuery"    (ionInput)="searchMovies()" showCancelButton="focus" animated></ion-searchbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item button *ngFor="let item of movies " [routerLink]="[item.id]" >
          <ion-avatar slot="start">
            <img [src]="imageBaseUrl + '/w92' +item.poster_path"/>     
          </ion-avatar>
         <ion-label>{{ item.title}}
         <p>{{item.release_date | date:'y'    }}</p>
        </ion-label>
        <ion-badge slot="end">{{item.vote_average}}</ion-badge>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="loadMore($any($event))">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
       </ion-content>
  </div>
</ion-app>




